---
import '../styles/components/footer.css';
---

<footer class="footer">
    <div class="footer-content">
        <div class="footer-wrapper">
            <div class="footer-info">
                <p class="esprit">L'esprit Club Alpin</p>
                <div class="footer-links">
                    <a href="https://www.ffcam.fr" class="footer-link">FFCAM</a>
                    <span class="separator">•</span>
                    <a href="https://cr-auvergnerhonealpes.ffcam.fr/mentions_legales.html" class="footer-link">Mentions Légales</a>
                    <span class="separator">•</span>
                    <a href="https://cr-auvergnerhonealpes.ffcam.fr/bottom_contact.html" class="footer-link">Contact</a>
                </div>
            </div>
            <div class="footer-brand">
                <p class="footer-text">FFCAM Auvergne-Rhône-Alpes</p>
            </div>
        </div>
    </div>
</footer>